body {
  width: 200px;
  height: 100%;
  margin: 16px;
}

div button {
  width : 100%;
  text-align : center;
}

div > button {
  padding : 4px;
  margin-top : 8px;
  margin-bottom : 8px;
}

div > li {
  margin-top : 4px;
}
